<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="VLP-16">

      <!-- LIDAR -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="parent" value="chasis"/>
    <xacro:property name="name" value="velodyne"/>
    <xacro:property name="topic" value="/velodyne_points"/>
    <xacro:property name="hz" value="10"/>
    <xacro:property name="lasers" value="16"/>
    <xacro:property name="samples" value="1875"/>
    <xacro:property name="collision_range" value="0.3"/>
    <xacro:property name="min_range" value="0.9"/>
    <xacro:property name="max_range" value="130.0"/>
    <xacro:property name="noise" value="0.008"/>
    <xacro:property name="min_angle" value="-${M_PI}"/>
    <xacro:property name="max_angle" value="${M_PI}"/>
    <xacro:property name="gpu" value="false"/>

    <!-- params="*origin := name:= := := := := := := := := := := :=" -->
    <!-- <xacro:macro name="VLP16" params="*origin parent:=chasis name:=velodyne topic:=/velodyne_points hz:=10 lasers:=16 samples:=1875 collision_range:=0.3 min_range:=0.9 max_range:=130.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI} gpu:=false"> -->
    <xacro:macro name="VLP16" params="*origin">

        <joint name="${name}_base_mount_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${name}_base_link"/>
        </joint>

        <link name="${name}_base_link">
            <inertial>
                <mass value="0.83"/>
                <origin xyz="0 0 0.03585"/>
                <inertia ixx="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" ixy="0" ixz="0" iyy="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" iyz="0" izz="${0.5 * 0.83 * (0.0516*0.0516)}"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://velodyne_description/meshes/VLP16_base_1.dae" />
                </geometry>
            </visual>
            <visual>
                <geometry>
                    <mesh filename="package://velodyne_description/meshes/VLP16_base_2.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0.03585"/>
                <geometry>
                    <cylinder radius="0.0516" length="0.0717"/>
                </geometry>
            </collision>
        </link>

        <joint name="${name}_base_scan_joint" type="fixed">
            <origin xyz="0 0 0.0377" rpy="0 0 0" />
            <parent link="${name}_base_link" />
            <child link="${name}"/>
        </joint>

        <link name="${name}">
            <inertial>
                <mass value="0.01"/>
                <origin xyz="0 0 0"/>
                <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
            </inertial>
            <visual>
                <origin xyz="0 0 -0.0377" />
                <geometry>
                    <mesh filename="package://velodyne_description/meshes/VLP16_scan.dae" />
                </geometry>
            </visual>
        </link>

        <!-- Gazebo requires the velodyne_gazebo_plugins package -->
        <gazebo reference="${name}">
            <xacro:if value="${gpu}">
                <sensor type="gpu_ray" name="${name}-VLP16">
                    <pose>0 0 0 0 0 0</pose>
                    <visualize>false</visualize>
                    <update_rate>${hz}</update_rate>
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>${samples}</samples>
                                <resolution>1</resolution>
                                <min_angle>${min_angle}</min_angle>
                                <max_angle>${max_angle}</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>${lasers}</samples>
                                <resolution>1</resolution>
                                <min_angle>-${15.0*M_PI/180.0}</min_angle>
                                <max_angle> ${15.0*M_PI/180.0}</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>${collision_range}</min>
                            <max>${max_range+1}</max>
                            <resolution>0.001</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.0</stddev>
                        </noise>
                    </ray>
                    <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_gpu_laser.so">
                        <topicName>${topic}</topicName>
                        <frameName>${name}</frameName>
                        <min_range>${min_range}</min_range>
                        <max_range>${max_range}</max_range>
                        <gaussianNoise>${noise}</gaussianNoise>
                    </plugin>
                </sensor>
            </xacro:if>
            <xacro:unless value="${gpu}">
                <sensor type="ray" name="${name}-VLP16">
                    <pose>0 0 0 0 0 0</pose>
                    <visualize>false</visualize>
                    <update_rate>${hz}</update_rate>
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>${samples}</samples>
                                <resolution>1</resolution>
                                <min_angle>${min_angle}</min_angle>
                                <max_angle>${max_angle}</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>${lasers}</samples>
                                <resolution>1</resolution>
                                <min_angle>-${15.0*M_PI/180.0}</min_angle>
                                <max_angle> ${15.0*M_PI/180.0}</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>${collision_range}</min>
                            <max>${max_range+1}</max>
                            <resolution>0.001</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.0</stddev>
                        </noise>
                    </ray>
                    <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_laser.so">
                        <topicName>${topic}</topicName>
                        <frameName>${name}</frameName>
                        <min_range>${min_range}</min_range>
                        <max_range>${max_range}</max_range>
                        <gaussianNoise>${noise}</gaussianNoise>
                    </plug  <!-- camera -->
                    <gazebo reference="camera_link">
                        <sensor type="camera" name="camera1">
                            <update_rate>30.0</update_rate>
                            <camera name="head">
                                <horizontal_fov>1.3962634</horizontal_fov>
                                <image>
                                    <width>800</width>
                                    <height>800</height>
                                    <format>R8G8B8</format>
                                </image>
                                <clip>
                                    <near>0.02</near>
                                    <far>300</far>
                                </clip>
                                <noise>
                                    <type>gaussian</type>
                                    <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
                                    <mean>0.0</mean>
                                    <stddev>0.007</stddev>
                                </noise>
                            </camera>
                            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                                <alwaysOn>true</alwaysOn>
                                <updateRate>0.0</updateRate>
                                <cameraName>rrbot/camera1</cameraName>
                                <imageTopicName>image_raw</imageTopicName>
                                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                                <frameName>camera_link</frameName>
                                <hackBaseline>0.07</hackBaseline>
                                <distortionK1>0.0</distortionK1>
                                <distortionK2>0.0</distortionK2>
                                <distortionK3>0.0</distortionK3>
                                <distortionT1>0.0</distortionT1>
                                <distortionT2>0.0</distortionT2>
                            </plugin>
                        </sensor>
                    </gazebo>in>
                </sensor>
            </xacro:unless>
        </gazebo>

    </xacro:macro>


</robot>
