<?xml version="1.0"?>
<!-- the laserscan_multi_merger node needs to be initiated AFTER gazebo, hence I start it manually - for now -->
<launch>
    <node name='scan_merger' type='laserscan_multi_merger' pkg='ira_laser_tools' output='screen'>
        <param name="cloud_destination_topic" value="/scan_cloud"/>
        <param name="scan_destination_topic" value="/hokuyo_scan"/>
        <param name="destination_frame" value="/hokuyo_link_top"/>
        <!-- <param name="laserscan_topics" value="/scan_front /scan_left /scan_right /scan_rear"/> -->
        <param name="laserscan_topics" value="/scan_front /scan_left /scan_right"/>
    </node>
    <!-- <node name='rqt_reconfigure' type='rqt_reconfigure' pkg='rqt_reconfigure' output='screen'/> -->
</launch>